body {
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
}
#Main {
  width: 100%;
  max-width: 35em;
  margin-left: 10em;
  padding-left: 3em;
}
#Sidebar {
  width: 10em;
  opacity: .25;
}
#Box {
  width: 100%;
  max-width: 45em;
}
